<% if @student.errors.any? %>
  <div class="container">
    <div class="row sign-up-form">
      <div class="col s12 m12 l12">
        <div class="card-panel red lighten-2">
          <span class="white-text">
            <%= pluralize(@student.errors.count, "error") %>
            prohibited from being saved: 
            <ul>
              <% @student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </span>
        </div>
      </div>
    </div>
<% end %>

<div class="row">
  <div class="col s12">
    <h3 class="center-align">Sign up</h3>
  </div>
</div>
<div class="container">
  <div class="row center">
    <%= form_for(@student, html: { class: "col s12" }) do |f| %>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <%= f.label :name, class: "icon_prefix" %>
          <%= f.text_field :name, class: "icon_prefix" %>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <%= f.label :email, class: "icon_email" %>
          <%= f.text_field :email, class: "icon_email validate" %>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.submit "Sign Up", class: "btn waves-effect waves-light" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
